body{
    background-image:linear-gradient(to bottom right,#2eaafa,#1f2f98);
    background-repeat: no-repeat;
    background-size: cover;
    height: 97.6vh; 
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 75%;
    height: 38px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 2px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    margin-right: 10px; 
    outline: none;
  }
  
  button {
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color:blue;
    border-width: 0px;
    color: #ffffff;
    cursor: pointer;
    outline: none; 
  }
  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  
  li span {
    flex: 1;
  }
  
  li button {
    margin-left: 10px;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #269dc2;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  li button:hover {
    background-color: #c0392b;
  }
  
  .completed {
    text-decoration: line-through;
    color: #ffffff;
  }
.head{
    text-align: center;
    font-size: 40px;
   color:#ffffff;
}
.second-container{
    width: 40%;
    min-width: 450px;
    padding: 20px;
	background: white;
	border-radius: 10px;
}
.pending{
    color: #333;
    text-decoration: underline;
}
.complete{
    color:#333;
    text-decoration: underline;
}
.list{
    display: flex;
    flex-direction: row;
}
